* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #ddd;
}

.map-container {
	width: 100%;
	height: 100%; /*Fallback*/
	height: 100vh;
}

/* toolbar */
.toolbar {
	height: 2em;
	width: 100%;
	display: flex;
	padding-left: 0.2em;
	background-color: #ddd;
	border-bottom: solid #bbb 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toolbar .ol-control {
	position: static;
	/* display: table-cell; */
	vertical-align: middle;
	padding: 0;
}
.toolbar .ol-control button {
	border-radius: 2px;
	background-color: #14268c;
	width: 2em;
	display: inline-block;
	vertical-align: middle;
	background-size: 1em;
	background-repeat: no-repeat;
	background-position: 50%;
}
.toolbar .ol-control button:hover {
	background-color: #aa0000;
}
.toolbar .ol-control button.active {
	background-color: red;
}
.toolbar .ol-control button.active:hover {
	background-color: red;
}
.toolbar .ol-singleselect button {
	background-image: url(../assets/res/button_select.png);
}
.toolbar .ol-multiselect button {
	background-image: url(../assets/res/button_multiselect.png);
}
.toolbar .ol-deselect button {
	background-image: url(../assets/res/button_deselect.png);
}
.toolbar .ol-control button:disabled {
	background-color: rgba(0, 0, 0, 0.2);
}
.toolbar .ol-control button:disabled:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.toolbar .ol-addpoint button {
	background-image: url(../assets/res/button_addpoint.png);
}
.toolbar .ol-addline button {
	background-image: url(../assets/res/button_addline.png);
}
.toolbar .ol-addpolygon button {
	background-image: url(../assets/res/button_addpolygon.png);
}
.toolbar .ol-modifyfeat button {
	background-image: url(../assets/res/button_modifyfeat.png);
}
.toolbar .ol-snap button {
	background-image: url(../assets/res/button_snap.png);
}
.toolbar .ol-removefeat button {
	background-image: url(../assets/res/button_removefeat.png);
}
.toolbar .ol-dragfeat button {
	background-image: url(../assets/res/button_dragfeat.png);
}
.toolbar .ol-measure button {
	background-image: url(../assets/res/button_measure.png);
}
.toolbar .ol-zoom-extent button {
	background-image: url(../assets/res/button_zoom_extent.png);
}
.toolbar .ol-zoom-layer button {
	background-image: url(../assets/res/button_zoom_layer.png);
}
.toolbar .ol-zoom-selected button {
	background-image: url(../assets/res/button_zoom_selected.png);
}

/* map */
.map {
	max-width: 80%;
	height: calc(100% - 3.5em);
	border-left: solid #bbb 1px;
	overflow: hidden;
	position: relative;
	outline: 0;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.nosupport {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

/* layertree */
.layertree {
	width: 20%;
	height: calc(100% - 3.5em);
	float: left;
	border: 1px solid grey;
	border-bottom: none;
	background: #eee;
	font-size: 13px;
	font-weight: 300;
	font-family: helvetica, arial, verdana, sans-serif;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.layertree .layertree-buttons {
	height: 2em;
	border-bottom: 1px solid grey;
	background-color: #ddd;
}
.layertree .layercontainer {
	position: relative;
	overflow-y: auto;
	height: 100%;
}
.layercontainer {
	height: 100%;
}
.layercontainer .layer.active {
	min-height: 2em;
	height: auto;
}
.layer div {
	display: none;
}
.layer.active div {
	display: block;
}
.layercontainer .layer {
	position: relative;
	padding: 5px 10px 4px 6px;
	cursor: default;
	color: #14268c;
	border-bottom: solid #ccc 1px;
	border-left: solid #14268c 5px;
}
.layercontainer .layer:hover {
	color: #14268c;
	background-color: #e2eff8;
	font-weight: bold;
	border-left: solid #14268c 8px;
}
.layercontainer .layer.active {
	font-weight: bold;
	border-left: solid #14268c 8px;
	min-height: 2em;
	height: auto;
	background-color: #c2ddf2;
}
.layer div {
	display: none;
}
.layer.active div {
	display: block;
}
.layer .visible {
	top: 0.5em;
	margin-right: 4px;
	width: 15px;
	height: 15px;
}
.layer.over {
	border-top: 3px solid black;
}
.layer span:first-of-type {
	left: 2em;
	max-width: calc(100% - 1.5em);
	white-space: pre;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.layertree,
.toolbar .ol-unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.layertree .layertree-buttons button {
	height: 2em;
	width: 2em;
	padding: 0;
	margin: 0 2px 0 2px;
	border: none;
	color: rgba(255, 255, 255, 1);
	background-color: #4e5e7f;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}
.layertree .layertree-buttons button:hover {
	background-color: #14264c;
}
.layertree-buttons .addwms {
	background-image: url(../assets/res/button_wms.png);
}
.layertree-buttons .addwfs {
	background-image: url(../assets/res/button_wfs.png);
}
.layertree-buttons .newvector {
	background-image: url(../assets/res/button_newvector.png);
}
.layertree-buttons .addvector {
	background-image: url(../assets/res/button_vector.png);
}
.layertree-buttons .deletelayer {
	background-image: url(../assets/res/button_delete.png);
}
.layertree-buttons .newshp {
	background-image: url(../assets/res/button_addshp.png);
}

/* dialogue windows */
.toggleable {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	top: 0;
}
.addlayer {
	background-color: rgba(255, 255, 255, 1);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	padding: 15px;
}
.addlayer select {
	min-width: 11.5em;
	max-width: 11.5em;
}
.buffering span::after {
	content: "*";
}
.error {
	border-color: red;
}

/* notification bar */
.notification-bar {
	width: 100%;
	height: 1.5em;
	display: table;
	background-color: #ddd;
	box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2),
		6px 0px 20px 0 rgba(0, 0, 0, 0.19);
}
.notification-bar > div {
	height: 100%;
	display: table-cell;
	border: solid #bbb 1px;
	box-sizing: border-box;
	vertical-align: middle;
}
.notification-bar .message-bar {
	width: 66%;
}
.notification-bar .ol-mouse-position {
	font-family: monospace;
	text-align: center;
	color: #14268c;
	position: static;
}
.notification-bar #rotation {
	width: 10%;
	text-align: center;
}
.notification-bar #rotation input {
	text-align: center;
	outline: none;
	border: 0;
	-moz-appearance: textfield;
}
.notification-bar #projection {
	text-align: center;
}
.notification-bar #projection select {
	background: none;
	border: none;
	outline: 0;
}

/* overlay */
.popup {
	border: 1px solid grey;
	background-color: #c2ddf2;
}
.popup span {
	display: inline-block;
	width: 5%;
}
.popup span:first-child {
	float: left;
	width: 40%;
}
.popup input[type="text"] {
	width: 50%;
}
.popup input[type="text"]:first-child {
	width: 35%;
}
.popup input[type="button"],
.popup input[type="submit"] {
	width: 10%;
	float: right;
	background-size: 1em;
	background-repeat: no-repeat;
	background-position: 50%;
}
.popup .delete {
	background-image: url(../assets/res/button_delete.png);
}
.popup .save {
	background-image: url(../assets/res/button_save.png);
	background-color: rgba(0, 0, 0, 0.2);
}
.popup input[type="text"],
.popup input[type="number"] {
	width: 60%;
}

/* ol overrides */
.ol-overviewmap.ol-uncollapsible {
	bottom: 2.5em;
	left: 0.5em;
}
.ol-overviewmap-box {
	border: 2px solid rgba(255, 0, 0, 0.7);
}

/* Animation */
.ol-rocket {
	top: 20px;
	right: 20px;
}
.ol-rocket button {
	background-image: url(../assets/res/button_rocket.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}
